{% extends "base.html.j2" %}


{% block content %}

<div class="container">
    <div class="w3-bar w3-border-top w3-border-bottom w3-border-left w3-border-right w3-light-grey">
        <button class="w3-bar-item w3-button tablinks" onclick="openForm(event,'checkin-form-container')" id="defaultOpen">Schedule Flight Check-in</button>
    </div>

    <div id="checkin-form-container" class="tabcontent">
        <br>
        <form class="needs-validation" novalidate autocomplete="off" method="POST" id="checkin-form">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.first_name.label }}
                {{ form.first_name(class="form-control", placeholder="Enter first name")|safe }}
            </div>
            <div class="form-group">
                {{ form.last_name.label }}
                {{ form.last_name(class="form-control", placeholder="Enter last name")|safe }}
            </div>
            <div class="form-group">
                {{ form.conf_num.label }}
                {{ form.conf_num(class="form-control", placeholder="Enter confirmation number")|safe }}
            </div>
            <div class="form-group">
                <label for="formControlSelectAirline">Airline</label>
                <select class="form-control" name="formControlSelectAirline" id="formControlSelectAirline">
                  <option>Southwest</option>
                </select>
            </div>
            <div class="form-group">
                {{ form.flight_time.label }}
                {{ form.flight_time(class="form-control")|safe }}
            </div>
            <div class="form-group">
                {{ form.flight_date.label }}
                {{ form.flight_date(class="form-control")|safe }}
            </div>
            {{ form.submit(class="btn btn-primary")|safe }}
        </form>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='assets/js/w3TabMenu.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/formValidation.js') }}"></script>
    <script>
        $('#checkin-form').on('submit', function(e){
            $('#exampleModal').modal('show');
            e.preventDefault();
        });
    </script>
{% endblock extra_js %}

